# postgres container
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# api container
SERVER_ADDRESS=
DATABASE_URL=

# postgres migrations container
GOOSE_DRIVER=
GOOSE_DBSTRING=
GOOSE_MIGRATION_DIR=
GOOSE_TABLE=
