# postgres container
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# api container
SERVER_ADDRESS=
DATABASE_URL=
UPTRACE_DSN=http://project1_secret@uptrace:80?grpc=4317

# optional: set to 1 or 2 for verbose Bun SQL on stdout
# BUNDEBUG=

# postgres migrations container
GOOSE_DRIVER=
GOOSE_DBSTRING=
GOOSE_MIGRATION_DIR=
GOOSE_TABLE=
